### Traffic Accidents in LA County

This notebook will attempt to explore car accident data in LA County using data from the LAPD.

### Import data from pandas
To work with data in python, we need a library that will let us handle "data exploration." Therefore, we are using pandas library.

In [1]:
import pandas as pd

Next, we load the data that I downloaded from SWITRS.

In [3]:
df = pd.read_csv(
    'data/traffic_collision_data.csv')

In [4]:
# A quick look at the size of the data
df.shape

(586879, 24)

In [5]:
# This will show us the data headers
df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Premise Description,Address,Cross Street,Location,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
0,190319651,08/24/2019,08/24/2019,450,3,Southwest,356,997,TRAFFIC COLLISION,3036 3004 3026 3101 4003,...,STREET,JEFFERSON BL,NORMANDIE AV,"(34.0255, -118.3002)",22724.0,691.0,916.0,7.0,14.0,32.0
1,190319680,08/30/2019,08/30/2019,2320,3,Southwest,355,997,TRAFFIC COLLISION,3037 3006 3028 3030 3039 3101 4003,...,STREET,JEFFERSON BL,W WESTERN,"(34.0256, -118.3089)",23079.0,686.0,919.0,7.0,12.0,19.0
2,190413769,08/25/2019,08/25/2019,545,4,Hollenbeck,422,997,TRAFFIC COLLISION,3101 3401 3701 3006 3030,...,STREET,N BROADWAY,W EASTLAKE AV,"(34.0738, -118.2078)",23448.0,488.0,516.0,NaN,11.0,1.0
3,190127578,11/20/2019,11/20/2019,350,1,Central,128,997,TRAFFIC COLLISION,0605 3101 3401 3701 3011 3034,...,STREET,1ST,CENTRAL,"(34.0492, -118.2391)",22728.0,536.0,1502.0,NaN,9.0,28.0
4,190319695,08/30/2019,08/30/2019,2100,3,Southwest,374,997,TRAFFIC COLLISION,0605 4025 3037 3004 3025 3101,...,STREET,MARTIN LUTHER KING JR,ARLINGTON AV,"(34.0108, -118.3182)",22725.0,747.0,1017.0,7.0,14.0,35.0

In [7]:
# Now we will see which columns contain empty values using .all() 
df.columns[df.isna().all()].tolist()

[]

In [8]:
# Since there were no empty value columns, we move ahead to explore the data. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586879 entries, 0 to 586878
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   DR Number                          586879 non-null  int64
 1   Date Reported                      586879 non-null  object
 2   Date Occurred                      586879 non-null  object
 3   Time Occurred                      586879 non-null  int64
 4   Area ID                            586879 non-null  int64
 5   Area Name                          586879 non-null  object
 6   Reporting District                 586879 non-null  int64
 7   Crime Code                         586879 non-null  int64
 8   Crime Code Description             586879 non-null  object
 9   MO Codes                           499767 non-null  object
 10  Victim Age                         502075 non-null  float64
 11  Victim Sex                         577396 non-null  object
 12  Victim Descent                     576487 non-null  object
 13  Premise Code                       585920 non-null  float64
 14  Premise Description                585919 non-null  object
 15  Address                            586879 non-null  object
 16  Cross Street                       558995 non-null  object
 17  Location                           586879 non-null  object
 18  Zip Codes                          586068 non-null  float64
 19  Census Tracts                      578699 non-null  float64
 20  Precinct Boundaries                583027 non-null  float64
 21  LA Specific Plans                  218714 non-null  float64
 22  Council Districts                  579948 non-null  float64
 23  Neighborhood Councils (Certified)  556984 non-null  float64
dtypes: float64(8), int64(5), object(11)
memory usage: 107.5+ MB

### Run some sample statistics
Now we will run some sample statistics on the data to see what it contains.

In [14]:
# access a single column
df['Date Reported']

0         08/24/2019
1         08/24/2019
2         08/24/2019
3         08/24/2019
4         08/24/2019
             ...
586874    08/24/2019
586875    08/24/2019
586876    08/24/2019
586877    08/24/2019
586878    08/24/2019
Name: Date Reported, Length: 586879, dtype: object

In [15]:
# What is the mean?
df['Date Reported']

0         08/24/2019
1         08/24/2019
2         08/24/2019
3         08/24/2019
4         08/24/2019
             ...
586874    08/24/2019
586875    08/24/2019
586876    08/24/2019
586877    08/24/2019
586878    08/24/2019
Name: Date Reported, Length: 586879, dtype: object